html,
body {
    margin: 0px;
}

h1,
h2 {
    color: #6b4343;
    text-align: center;
}

.parent {
    display: flex;
    justify-content: space-between;
}

body>div>div {
    height: 60vh;
    width: 40vw;
    background-color: #dccfcf;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 30vh;
    max-height: 5vh;
    background-color: #b16c6c;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 2vh;
    cursor: pointer;
}

.left,
button {
    margin-bottom: 5vh;
}

.right {
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;
}

.actions {
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.actions input {
    max-height: 5vh;
    background-color: #b16c6c;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 2vh;
    cursor: pointer;
    margin: 1vh 1vw 1vh 1vw;
}

.actions label {
    background-color: wheat;
    display: none;
}

body>label {
    display: none;
    justify-content: center;
    background-color: #beaaaa;
    background-blend-mode: hue;
}

@media screen and (max-width:836px) {
    h1 {
        max-height: 20vh;
        font-size: 1.9pc;
    }

    .parent {
        flex-direction: column;
        align-items: center;
        max-height: 80vh;
        justify-content: space-evenly;
    }

    button {
        margin-top: 0px;
        width: 30vw;
    }

    .left,
    .right {
        width: 90%;
    }

    .left,
    .right {
        height: 25vh;
    }
}

@media screen and (max-width:476px) {
    button {
        width: 60vw;
    }
}