h1,
h2 {
    color: #6b4343;
    text-align: center;
}

.parent {
    display: flex;
    justify-content: space-between;
}

body>div>div {
    height: 60vh;
    width: 40vw;
    background-color: #dccfcf;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 30vh;
    max-height: 5vh;
    background-color: #b16c6c;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 2vh;
}

.right {
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;
}

.actions {
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.actions input {
    max-height: 5vh;
    background-color: #b16c6c;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 2vh;
}